*.iml
.gradle
/local.properties
/.idea/
.idea/
/.kotlin/
.kotlin/
/.vscode/
.vscode/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.dex

# Debug and test output files
*.txt
*_test.kt
*_debug.kt
manual_*.kt
integration_*.kt
TestJsonApi.*
*.class
